    body {
            background-color: green;
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }

        .photo-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            animation: fadeIn 1s ease-in-out;
        }

        .photo {
            max-width: 80%;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
            background-color: green;
            padding: 20px;
            animation: bounceIn 1s ease-in-out;
            cursor: pointer;
        }

        .photo.animate-out {
            animation: fadeOut 1s ease-in-out forwards;
        }

        .photo:hover {
            transform: scale(1.05);
        }

        @keyframes fadeIn {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

        @keyframes bounceIn {
            0% {
                transform: scale(0.5);
                opacity: 0;
            }
            80% {
                transform: scale(1.1);
                opacity: 1;
            }
            100% {
                transform: scale(1);
            }
        }

        @keyframes fadeOut {
            0% {
                opacity: 1;
            }
            100% {
                opacity: 0;
            }
        }